# Ignore all files in the data/ folder
# Files are ignored for data privacy and security reasons.
CosinorRegressionModel(TRPTSD)/data/ 
CosinorRegressionModel(TRPTSD)/plots/ 
CosinorRegressionModel(TRPTSD)/outputs/ 
CAPsClassifier(TRPTSD)/data/
LogisticRegressionModel(TRPTSD)/outputs/
LogisticRegressionModel(TRPTSD)/data/
CAPsClassifier(TRPTSD)/data